// VERTICAL ALIGN MIXIN
@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  // BUTTON STYLING
  #ua-magic-button-wrapper{
    z-index: 495;
    bottom: 5rem;
  }
 

  #magic-button-swiper {
      width: 100%;
      height: 2.4rem;
      
  
    .swiper-slide{
      width: 20rem;
      height: 2.4rem;
    }

  }

  body.map-touched{
    .ua-magic-button {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateX(0deg);
  
        top: 0;
        
        box-shadow: 0 3px #264BAC, 0 160px 89px rgba(66, 112, 234, .1);
      }
  }

  .perspective {
    position: relative;
    margin: 0 auto;
    perspective: 700px;
    -webkit-perspective: 700px; 
    width: 20rem;
    height: 2.4rem;
    
    &:hover,
    &.active {
      .ua-magic-button {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateX(0deg);
  
        top:3px;
        
        box-shadow: 0 3px #1a3a8a, 0 6rem 3rem rgba(66, 112, 234, .1);
      }
    }
  }
  






  .ua-magic-button {
    position: absolute;
    top: -4rem;
    cursor: pointer;
    background: var(--bs-primary-border-subtle);
    padding: 0.5rem;
    text-align: center;
    color: #fff;
    box-shadow: 0 8px var(--bs-primary-border-subtle), 0 2rem 2rem var(--bs-primary-border-subtle);
    
    -webkit-transform: rotateY(40deg);
    -moz-transform: rotateY(40deg);
    -o-transform: rotateY(40deg);
    -ms-transform: rotateY(40deg);
    transform: rotateX(40deg);
  
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;

    // button{
    //   height: 2.4rem;
    // }

    // .btn-magic-start{
    //   width: 8rem;
     
    //   border-radius: 4rem 0 0 4rem;
    //   .btn-label{
    //     max-width: 8rem;
    //     padding-right: 0.25rem;
    //     padding:0.5rem;
    //     font-size: 0.75rem;
    //     line-height: 0.9rem;
        
    //   }
    // }

    // .btn-magic-middle{
    //   width: 4rem;
     
    //   border-radius: 0;
     
    // }

    // .btn-magic-end{
    //   width: 8rem;
    //   border-radius: 0 4rem 4rem 0;
    //   .btn-label{
    //     max-width: 8rem;
    //     padding-right: 0.25rem;
    //     border: 2px solid white;
    //     padding: 0.1rem 0.5rem;
    //     font-size: 0.75rem;
    //     line-height: 0.9rem;
    //     float: right;
    //   }
    // }


  }

  
 