$animationDuration: 1s;
$animationTiming: ease-out;
$filterValues: saturate(1) grayscale(1) brightness(1.1) contrast(1.1) opacity(0.7);
$filterValuesAddPlaceMode: grayscale(0.9);




@keyframes h1Animation {
    0% { opacity : 0; transform: translateY(-4rem); }
    20% { opacity : 1; transform: translateY(0); }
    100% { opacity : 1; transform: translateY(0); }
}
  
@keyframes pAnimation {
    0% { opacity : 0; transform: translateY(-8rem); }
    18% { opacity : 1; transform: translateY(0); }
    100% { opacity : 1; transform: translateY(0); }
}
  

#mapHero{
  
    z-index: 4001;
    position: relative;
   
    h1 {
        animation: h1Animation 10s;
        animation-fill-mode: forwards;
    }

    h1:after {
        content: ' .org';
        font-size: 1rem;
        color: #df0404;
        font-weight: normal;
    }
    
    p {
        animation: pAnimation 13s;
        animation-fill-mode: forwards;
        color: #df0404;
        font-weight: 900;
        text-shadow: 0.1rem 0.1rem 0.3rem rgba(50,50,50,.2), 0 0 3px white
    }
}

.brand-container {
    transition: all 0.3s ease-out;
    z-index: 13;
   
}



body.uacanada-map-page {
    .brand-container {
        margin-top: 2rem;

        .border-bottom {
            border-color: transparent !important;
        }

        &.ua-hide-title {
            transform: translate3d(0, -400px, 0);
        }
    }

    .bottombar-nav {
        background-color: rgba(255, 255, 255, .2) !important;
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }

    img.leaflet-tile {
        filter: $filterValues;
        transition: filter 2s ease-out;
    }

    #reconnect-alert {
        display: none;
    }

    
}

body.uacanada-map-page.map-touched {
    img.leaflet-tile {
        filter: none;
    }

    .brand-container {
        transform: translate3d(0, -400px, 0);
    }

    #mapHero {
        animation: fade-and-move $animationDuration $animationTiming forwards;
    }

}

body.uacanada-map-page.map-touched.addPlaceMode {
    img.leaflet-tile {
        filter: $filterValuesAddPlaceMode;
    }

    .leaflet-marker-pane{
        transition: .2s;
        opacity: 0.25;
    }


}






.before-map-expand{
    .ua-markers{

        .circle-icon {
            background: #e3e3e3;
        }
        .circle-icon:after{
            visibility: hidden;
        }
        .badge-text {
            color: gray;
        }

    } 

    .leaflet-marker-icon.mycluster {
       
        color: transparent;
        filter: drop-shadow(1px 1px 5px black);
        width: 30px!important;
    }
   
}

.place-pic{
    transition: .2s width;
}

